$speed: .3s;
$color-text: white;

$color-primary: #ffc72d;
$color-secondary: #e1f4fc;
$color-tertiary: #0b2e50;
$color-gray: #aaa;

$easing: cubic-bezier(.67,-0.07,.49,.93);
$max-width: 620px;

$padding: 7px;

$border-radius: 4px;