app-loader {
  transform: scale(1);
  transition: all $speed $easing;
  opacity: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}