trip-selector {
  flex: 0 1 auto;
  width: 100%;
  max-width: $max-width;
  flex-direction: column;
  display: flex;

  .stop-selector,
  .trip-selector {
    display: flex;
    margin: $padding;
  }

  .stop-selector {
    padding-bottom: 0;
  }

  button {
    margin-left: $padding * 2;
  }
}