.info-field {
  display: flex;
  flex-direction: column-reverse;
  border: 1px dashed rgba($color-gray, .3);
  padding: $padding;
  flex: 1 1 160px;
  border-radius: $border-radius;
  text-align: left;
  background-color: $color-secondary;
  margin: $padding;

  .label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1;
    margin-top: 7px;
    opacity: .6;
  }

  .value {
    color: $color-tertiary;
    line-height: 1.3;
    font-weight: 300;
    font-size: 14px;
  }
}