.settings {
  padding: $padding;
  transition: transform $speed $easing, opacity $speed $easing;
  transform: translateY(-20px);
  opacity: 0;

  .label {
    color: $color-secondary;
  }

  input {
    width: 100%;
    margin: 10px 0;
  }
}

.expanded > .settings {
  opacity: 1;
  transform: translateY(0);
}