bus-loader {
  transform: scale(1);
  transition: all $speed $easing;
  opacity: 1;
  flex: 0 0  auto;
  padding: 20px;
  margin: auto;
  width: 100%;
  max-width: $max-width;
  overflow: hidden;

  .loading-animation {
    width: 100%;
    object-fit: scale-down;
    height: calc(100% - 150px);
    transition: all $speed $easing;
  }

  &.done {
    opacity: 0;

    .loading-animation {
      transform: scale(2);
    }
  }
}