bus-indicator {
  flex: 0 1 auto;
  opacity: 1;
  transition: opacity $speed $easing;
  width: 100%;
  max-width: $max-width;
  padding: 20px;

  &.hidden {
    opacity: 0;
    height: 0;
    position: absolute;
  }
}