bus-selector {
  padding: 20px;
  flex: 0 1 $max-width;
  margin: auto;

  .bus-selector {
    display: flex;
  }

  .trip-selector {
    display: flex;
  }

  .relative-time {
    float: left;
  }

  .punctuality {
    color: red;
    float: left;
    clear: both;
    font-style: italic;
  }
}