bus-selector {
  padding: 20px;
  flex: 0 1 auto;
  width: 100%;
  max-width: $max-width;
  flex-direction: column;
  opacity: 1;
  transition: opacity $speed $easing;
  display: flex;

  .bus-select,
  .trip-select {
    display: flex;
  }

  .relative-time {
    float: left;
  }

  .punctuality {
    color: red;
    float: left;
    clear: both;
    font-style: italic;
  }

  &.hidden {
    opacity: 0;
  }
}