bus-selector {
  padding: 20px;
  flex: 0 1 auto;
  width: 100%;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity $speed $easing;

  .bus-selector {
    display: flex;
  }

  .trip-selector {
    display: flex;
  }

  .relative-time {
    float: left;
  }

  .punctuality {
    color: red;
    float: left;
    clear: both;
    font-style: italic;
  }

  &.hidden {
    opacity: 0;
    height: 0;
    position: absolute;
  }
}