bus-loader {
  transform: scale(1);
  transition: all .4s ease-in-out;
  opacity: 1;
  flex: 0 1 400px;
  padding: 20px;
  margin: auto;

  .loading-animation {
    width: 100%;
    object-fit: scale-down;
    height: calc(100% - 150px);
  }

  &.done {
    opacity: 0;
    transform: scale(1.5);
  }
}