.progress-bar {
  line-height: 1.3;
  padding: 1.6em .8em .5em .8em;

  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);

  transition: width .5s ease-in-out;
  border-radius: .3em;
}

.progress-bar-wrapper {
  padding: .4em;
  position: relative;
  border-radius: .5em;
  margin-top: 20px;
  background-color: $color-tertiary;

  .label {
    position: absolute;
    mix-blend-mode: difference;
    filter: invert(1) contrast(9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(1px);
    z-index: 2;
    color: $color-tertiary;
  }
}
