.progress-bar {
  height: calc(100% - .6em);
  background-color: #fff;
  background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  position: absolute;
  top: 50%;
  left: .3em;
  transform: translateY(-50%);
  transition: width .5s ease-in-out;
  border-radius: .3em;
}

.progress-bar-wrapper {
  padding: .4em;
  position: relative;
  border-radius: .5em;
  margin-top: 20px;
  background-color: $color-tertiary;

  .label {
    mix-blend-mode: difference;
    filter: invert(1) contrast(9);
    z-index: 2;
    font-weight: 100;
    font-size: 14px;
    color: $color-tertiary;
  }
}
